#race {
  text-align: center;
  background-color: #242021;
  padding: 0;
}

h1,
h2,
h3 {
  color: #a2a2a2;
}

h3 {
  font-size: 25px;
}

h2 {
  font-size: 35px;
}

h1 {
  font-size: 50px;
}

.btnRace,
.btnStartOver {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 4px 50px;
  margin-left: 15px;
}

.btnRace:focus,
.btnStartOver:focus {
  outline: 0;
}

.raceTrack {
  height: 40vh;
  width: 100%;
  padding-top: 30px;
}

.raceCar1 {
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
}

.raceCar2 {
  width: 15%;
  position: absolute;
  left: 0;
  top: 160px;
}
.finish {
  opacity: 0;
  position: absolute;
  top: -170px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.car1Color {
  color: #ffebf7;
  font-weight: bold;
  font-size: 18px;
}

.car2Color {
  color: #ba0000;
  font-weight: bold;
  font-size: 18px;
}

.time {
  color: white;
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
}

.place1 {
  color: #a2a2a2;
  border: 2px solid white;
  padding: 10px 2px;
}

.table1,
.table2,
.table3 {
  margin: 0 auto;
}

tr td {
  padding: 13px;
  border: 2px solid #ddd;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .raceCar1 {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .raceCar2 {
    width: 30%;
    position: absolute;
    left: 0;
    top: 150px;
  }
  .raceTrack {
    height: 350px;
  }
}

/*use these below*/
/*car1 color*/
/*color: #ffebf7;*/
/*car2 color*/
/*color: #ba0000;*/
